<h1>Burgers!</h1>


<form action="/api/burger" method="post">
    Name: <input type="text" name="burger_name" /><br>
    <input type="submit" value="Add">
</form>

<h3>Ready to Eat</h3>
<ul>
    {{#each burgers}}
    {{#unless devoured}}
    {{>index/burger_card isEaten=1}}
    {{/unless}}
    {{/each}}
</ul>


<h3>Devoured</h3>
<ul>
    {{#each burgers}}
    {{#if devoured}}
    {{>index/burger_card isEaten=0}}
    {{/if}}
    {{/each}}
</ul>